    .modal {
      display: none;
      position: fixed;
      z-index: 6;
      right: 0;
      top: 0;
      width: 100%;
      height: 1000%;
      overflow: auto;
      background-color: rgba(0,0,0,0.4);
    }

    .modal-content {
      position: fixed;
      z-index: 7;
      bottom: 0;
      width: 100%;
      height: 45%;
      overflow: hidden;
      background-color: #fff;
      animation: modal_anim_down  1s ease-in-out;
    }

    .modal-content h4{
      padding-left: 30px;
      color: #1C1C1C;
      font-size: 3vh;
      text-align: left;
      font-weight: 300;
      margin-bottom: 35px;
      margin-top: 20px;
    }

    .modal-content p {
      padding-left: 30px;
      width: 70vw;
      text-align: left;
      line-height: 1.5;
      font-weight: 100;
      font-size: 2vh;
    }

    .modal_container {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
    }

    .modal-content img {
      z-index: 7;
    }
      .cancel img {
      width: 10px;
      height: 10px;
      display: flex;
      margin-top: 20px;
    }

    .modal_2 {
      display: none;
      position: fixed;
      z-index: 6;
      left: 0;
      top: 0;
      width: 100%;
      height: 1000%;
      overflow: hidden;
      background-color: rgba(0,0,0,0.4);
    }
    .modal-content_2 {
      position: fixed;
      z-index: 7;
      right: 0px;
      top: 100vh;
      width: 30%;
      height: 94vh;
      overflow-y: auto;
      overflow-x: hidden;
      background-color: #fff;
      animation: modal_anim  1s ease-in-out;
      padding: 30px;
    }

    .modal-content_2 h4{
      color: #1C1C1C;
      font-size: 3vh;
      text-align: left;
      font-weight: 300;
      margin-bottom: 35px;
    }

    .modal-content_2 p {
      width: 30vw;
      text-align: left;
      line-height: 1.5;
      font-weight: 100;
      font-size: 2vh;
    }

    .modal-content_2 img {
      height: ;
      z-index: 7;
    }
    
    .picture {

    }
    
    .picture img{
      width: 400px;
    }

     .modal_3 {
      display: none;
      position: fixed;
      z-index: 6;
      left: 0;
      top: 0;
      width: 100%;
      height: 1000%;
      overflow: hidden;
      background-color: rgba(0,0,0,0.4);
    }
    .modal-content_3 {
      position: fixed;
      z-index: 7;
      right: -20px;
      top: 200vh;
      width: 35%;
      height: 100%;
      overflow: hidden;
      background-color: #fff;
      animation: modal_anim  1s ease-in-out;
      padding: 30px;
    }

    .modal-content_3 h4{
      color: #1C1C1C;
      font-size: 3vh;
      text-align: left;
      font-weight: 300;
      margin-bottom: 35px;
    }

    .modal-content_3 p {
      width: 30vw;
      text-align: left;
      line-height: 1.5;
      font-weight: 100;
      font-size: 2vh;
    }

    .modal-content_3 img {
      
      z-index: 7;
    }

     .modal_4 {
      display: none;
      position: fixed;
      z-index: 6;
      left: 0;
      top: 0;
      width: 100%;
      height: 1000%;
      overflow: hidden;
      background-color: rgba(0,0,0,0.4);
    }
    .modal-content_4 {
      position: fixed;
      z-index: 7;
      right: 0px;
      top: 300vh;
      width: 35%;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      background-color: #fff;
      animation: modal_anim  1s ease-in-out;
      padding: 20px;
    }
    
    .modal-content_4 h4{
      color: #1C1C1C;
      font-size: 3vh;
      text-align: left;
      font-weight: 300;
      margin-bottom: 35px;
    }
    .modal-content_4 h5{
      color: #1C1C1C;
      font-size: 2.5vh;
      text-align: left;
      font-weight: 300;
      margin-bottom: 35px;
    }

    .modal-content_4 p {
      width: 30vw;
      text-align: left;
      line-height: 1.5;
      font-weight: 100;
      font-size: 2vh;
    }

    .modal-content_4 img {
      width: 30%;
      z-index: 7;
    }

     .modal_5 {
      display: none;
      position: fixed;
      z-index: 6;
      left: 0;
      top: 0;
      width: 100%;
      height: 1000%;
      overflow: hidden;
      background-color: rgba(0,0,0,0.4);
    }
    .modal-content_5 {
      position: fixed;
      z-index: 7;
      right: 0px;
      top: 400vh;
      width: 35%;
      height: 100%; 
      overflow-y: auto;
      overflow-x: hidden;
      background-color: #fff;
      animation: modal_anim  1s ease-in-out;
      padding: 20px;
    }

    .modal-content_5 h4{
      color: #1C1C1C;
      font-size: 3vh;
      text-align: left;
      font-weight: 300;
      margin-bottom: 35px;
    }

    .modal-content_5 h5{
      color: #1C1C1C;
      font-size: 2.5vh;
      text-align: left;
      font-weight: 300;
      margin-bottom: 35px;
    }

    .modal-content_5 p {
      width: 30vw;
      text-align: left;
      line-height: 1.5;
      font-weight: 100;
      font-size: 2vh;
    }

    .modal-content_5 img {
      z-index: 7;
    }
    
     .modal_6 {
      display: none;
      position: fixed;
      z-index: 6;
      left: 0;
      top: 0;
      width: 100%;
      height: 1000%;
      overflow: hidden;
      background-color: rgba(0,0,0,0.4);
    }
    .modal-content_6 {
      position: fixed;
      z-index: 7;
      right: 0px;
      top: 500vh;
      width: 35%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: #fff;
      animation: modal_anim  1s ease-in-out;
      padding: 20px;
    }

    .modal-content_6 h4{
      color: #1C1C1C;
      font-size: 25px;
      text-align: left;
      font-weight: 300;
      margin-bottom: 35px;
    }

    .modal-content_6 p {
      width: 30vw;
      text-align: left;
      line-height: 1.5;
      font-weight: 100;
      font-size: 2vh;
    }

    .modal-content_6 img {
      z-index: 7;
    }




    @keyframes modal_anim {
    from {right: -670px;}
    80% {right: 0px;}
    to {right: 0px;}
    }

    @keyframes modal_anim_down {
    from {bottom: -90%;}
    50% {bottom: 0%;}
    to {bottom: -5%;}
    }

    .modal_card {
      display: none;
      position: fixed;
      z-index: 6;
      left: 0;
      top: 0;
      width: 100%;
      height: 1000%;
      overflow: hidden;
      background-color: rgba(0,0,0,0.4);
    }
    .modal-content_card{
      position: fixed;
      z-index: 7;
      right: 25%;
      top: 125%;
      width: 50%;
      height: 40vh;
      overflow: hidden;
      background-color: #fff;
      padding: 30px;
    }

    .modal-content_card h4{
      color: #1C1C1C;
      font-size: 3vh;
      text-align: left;
      font-weight: 300;
      margin-bottom: 35px;
    }

    .modal-content_card p {
      width: 30vw;
      text-align: left;
      line-height: 1.5;
      font-weight: 100;
      font-size: 2vh;
    }

    .modal-content_card img {
      height: ;
      z-index: 7;
    }

    .modal_card h5 {
      margin: 0 auto;
    }

    .map {
      margin: 0 auto;
      margin-left: -25px;
    }

        .modal_card_2 {
      display: none;
      position: fixed;
      z-index: 6;
      left: 0;
      top: 0;
      width: 100%;
      height: 1000%;
      overflow: hidden;
      background-color: rgba(0,0,0,0.4);
    }
    .modal-content_card_2{
      position: fixed;
      z-index: 7;
      right: 25%;
      top: 225%;
      width: 50%;
      height: 40vh;
      overflow: hidden;
      background-color: #fff;
      padding: 30px;
    }

    .modal-content_card_2 h4{
      color: #1C1C1C;
      font-size: 3vh;
      text-align: left;
      font-weight: 300;
      margin-bottom: 35px;
    }

    .modal-content_card_2 p {
      width: 30vw;
      text-align: left;
      line-height: 1.5;
      font-weight: 100;
      font-size: 2vh;
    }

    .modal-content_card_2 img {
      height: ;
      z-index: 7;
    }

    .modal_card_2 h5 {
      margin: 0 auto;
    }

    .modal_card_3 {
      display: none;
      position: fixed;
      z-index: 6;
      left: 0;
      top: 0;
      width: 100%;
      height: 1000%;
      overflow: hidden;
      background-color: rgba(0,0,0,0.4);
    }
    .modal-content_card_3{
      position: fixed;
      z-index: 7;
      right: 25%;
      top: 325%;
      width: 50%;
      height: 40vh;
      overflow: hidden;
      background-color: #fff;
      padding: 30px;
    }

    .modal-content_card_3 h4{
      color: #1C1C1C;
      font-size: 3vh;
      text-align: left;
      font-weight: 300;
      margin-bottom: 35px;
    }

    .modal-content_card_3 p {
      width: 30vw;
      text-align: left;
      line-height: 1.5;
      font-weight: 100;
      font-size: 2vh;
    }

    .modal-content_card_3 img {
      height: ;
      z-index: 7;
    }

    .modal_card_3 h5 {
      margin: 0 auto;
    }

     .modal_card_4 {
      display: none;
      position: fixed;
      z-index: 6;
      left: 0;
      top: 0;
      width: 100%;
      height: 1000%;
      overflow: hidden;
      background-color: rgba(0,0,0,0.4);
    }
    .modal-content_card_4{
      position: fixed;
      z-index: 7;
      right: 25%;
      top: 425%;
      width: 50%;
      height: 40vh;
      overflow: hidden;
      background-color: #fff;
      padding: 30px;
    }

    .modal-content_card_4 h4{
      color: #1C1C1C;
      font-size: 3vh;
      text-align: left;
      font-weight: 300;
      margin-bottom: 35px;
    }

    .modal-content_card_4 p {
      width: 30vw;
      text-align: left;
      line-height: 1.5;
      font-weight: 100;
      font-size: 2vh;
    }

    .modal-content_card_4 img {
      height: ;
      z-index: 7;
    }

    .modal_card_4 h5 {
      margin: 0 auto;
    }

    .modal_card_5 {
      display: none;
      position: fixed;
      z-index: 6;
      left: 0;
      top: 0;
      width: 100%;
      height: 1000%;
      overflow: hidden;
      background-color: rgba(0,0,0,0.4);
    }
    .modal-content_card_5{
      position: fixed;
      z-index: 7;
      right: 25%;
      top: 525%;
      width: 50%;
      height: 40vh;
      overflow: hidden;
      background-color: #fff;
      padding: 30px;
    }

    .modal-content_card_5 h4{
      color: #1C1C1C;
      font-size: 3vh;
      text-align: left;
      font-weight: 300;
      margin-bottom: 35px;
    }

    .modal-content_card_5 p {
      width: 30vw;
      text-align: left;
      line-height: 1.5;
      font-weight: 100;
      font-size: 2vh;
    }

    .modal-content_card_5 img {
      height: ;
      z-index: 7;
    }

    .modal_card_5 h5 {
      margin: 0 auto;
    }
    